table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.2rem;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.modal {
    display: none; /* Initially hidden */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

img.consleSnapshots{
    width: 100%;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    margin: auto;
    border: 1px solid #888;
    width: 80%; /* Could be wider or narrower */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
}
